
<ion-content padding>
  <div class="title-background">
    <h2 padding class="appTitle">Fur-ever Friends!</h2>
  </div>
  <div text-center>
    <img class="swipeImage" src="{{user.photo}}" (swipe)="likeOrPassSwipe($event)" (click)="goToProfile()" style="height: 100%; width: 250px; border-radius: 20px;">
  </div>

  <div padding>
    <div text-center>
      <div>
        <span>Pet Rating:</span>
        <ul class="starRating" *ngFor="let i of user.dogRating">
            <li class="fa fa-star"></li>
        </ul>      
      </div>
      <!-- <div>
        <span>Owner Rating:</span>
        <ul class="starRating" *ngFor="let i of user.ownerRating">
            <li class="fa fa-star"></li>
        </ul>
      </div> -->
    </div>
  </div>


  <div text-center padding>
    <button ion-button color="secondary" (click)="pass()">Pass</button>
    <button ion-button color="secondary" (click)="like()">Like</button>
  </div>
</ion-content>

